<header>
  <a href="#" class="logo"><img src="/assets/logo4.png" /></a>

  <div class="right-head-text">
    <div class="top-head-text">Ежегодно тысячи учеников заканчивают школу. У каждого есть своя история. Бывает, что мы не успеваем сказать учителю, как важен для нас их ежедневный труд. Для этого министерство образования начинает акцию, чтобы каждый смог поблагодарить учителя.</div>
    <div class="bottom-head-text">Поблагодарите учителя или учителей, которые помогли вам или вашим близким. Пусть это станет доброй традицией!</div>

  </div>
</header>