<div class="background-home"></div>
<div class="slider">
  <img src="/assets/1.jpg" />
  <img src="/assets/2.jpg" />
  <img src="/assets/3.jpg" />
  <img src="/assets/4.jpg" />
  <img src="/assets/5.jpg" />
  <img src="/assets/3.jpg" />
</div>