body {
    background-color: #eeeeee;
    font-family: Myriad Pro;
    width: 700px;
    margin: 0 auto;
}
content {
    display: table;
}
.item-post {
    background-color: white;
    margin: 0 0 20px 0;
    box-shadow: 0 1px 1px 0px rgba(0,0,0,0.2);
    border-radius: 2px;
    display: table;
}

.button-to-send, .botton-del, .button-exit {
    padding: 9px 30px;
    border: 0;
    font-size: 20px;
    box-shadow: 0 1px 1px 0px rgba(0,0,0,0.5);
    border-radius: 2px;
    float: right;
    transition: background-color .3s;
    cursor: pointer;
    font-family: MProCond;
    user-select: none;
    background-color: #3f92d2;
    color: white;
    margin: 20px 30px 20px 0;
}
.button-to-send:hover {
    background-color: #3270a0;
}
.botton-del:hover {
    background-color: #a03232;
}
.botton-del {
    background-color: #d23f3f;
    margin-right: 20px;
}

.button-exit {
	padding: 10px 20px;
    font-size: 14px;
    text-decoration: none;
    float: right;
    margin: 14.5px 0;
}
header {
    display: table;
    width: 100%;
    padding: 30px 0;
}
.logo {
    float: left;
    width: 130px;
}
.menu {
    float: left;
    list-style-type: none;
    margin: 23px 0;
}
.logo>img {
    width: 100%;
}
.menu>li {
    float: left;
}
.menu>li>a {
    padding: 10px 20px;
    font-size: 14px;
    color: #4c4c4c;
    font-weight: bold;
    text-decoration: none;
    transition: color .3s;
}
.activ {
    background-color: white;
    box-shadow: 0 1px 1px 0px rgba(0,0,0,0.2);
    border-radius: 2px;
}

.text-counter {
    margin: 22.5px;
    font-size: 14px;
}

.rsstudio {
    color: white;
}
.rsstudio>a {
    color: #386c95;
    border: 1px solid #386c95;
    border-width: 0 0 1px 0;
    text-decoration: none;
}
.rsstudio>span {
    user-select: none;
    cursor: default;
}

.item-post>input, .history-teacher {
    font-size: 14px;
    font-family: verdana;
    line-height: 1.6em;
}
.menu>li>a:hover {
    color: #000000;
}

/*Sagid*/
.item-post,
.item-post * {
  transition: .2s;
}
.item-post.unpublished,
.item-post.unpublished input,
.item-post.unpublished textarea {
  background-color: whitesmoke;
}
.item-post.loading button {
  /*background: gray;*/
  transform: scale(.99, .99);
  background: gray;
}

.thanks-images{
    margin: 10px 20px;
}
.thanks-images > *{
    max-width: 100px;
    margin-right: 10px;
}
