body {
    margin: 0;
    background: rgba(0, 0, 0, 0.44);
    font-family: Myriad Pro;
}
a {
    text-decoration: none;
}
.logo {
    float: left;
    user-select: none;
}
.right-head-text {
    width: 60%;
    float: right;
    user-select: none;
    cursor: pointer;
}
.top-head-text {
    font-size: 22px;
    color: white;
    text-align: right;
    font-family: MProCond;
    margin-bottom: 20px;
}
.bottom-head-text {
    text-align: center;
    background: white;
    font-weight: bold;
    padding: 15px 0;
}
header {
    display: table;
    position: relative;
    z-index: 2;
    width: 1200px;
    margin: 50px auto 0;
}
.button-thank-you {
    font-family: MProCond;
    padding: 15px 45px 14px 45px;
    font-size: 18px;
    margin: 0 auto;
    display: table;
    background-color: #3f92d2;
    color: white;
    border-radius: 2px;
    transition: background-color .3s;
    cursor: pointer;
    user-select: none;
    position: relative;
    z-index: 3;
}
.button-thank-you:hover {
    background-color: #3270a0;
}
.title-thank-you {
    font-size: 22px;
    color: white;
    text-align: center;
    font-family: MProCond;
    margin: 130px 0 30px 0;
    position: relative;
    z-index: 3;
    user-select: none;
    cursor: default;
}
.block-stories {
    position: relative;
    z-index: 3;
    width: 1200px;
    margin: 0 auto;
}
.title-block-stories {
    color: white;
    text-align: center;
    font-size: 36px;
    font-family: MProCond;
    margin-top: 90px;
    font-weight: 400;
    user-select: none;
    cursor: default;
}
.column-items-block-stories {
    width: 50%;
    float: left;
}
.item-block-stories {
    background-color: white;
    margin: 0 10px 20px 10px;
    padding: 25px 25px 35px 25px;
    border-radius: 2px;
    /*cursor: pointer;*/
    box-shadow: 0 1px 1px 0px rgba(0,0,0,0.2);
}
.text-counter>span {
    font-weight: 600;
}
.text-counter {
    margin: 21.5px;
}

.from-whom-block-stories {
    margin-bottom: 20px;
    font-size: 14px;
    font-style: italic;
}
.teacher-block-stories {
    margin-right: 10px;
}
.school-block-stories {
    color: #b3b3b3;
}
.to-whom-block-stories {
    font-size: 14px;
    margin-bottom: 10px;
}
.text-block-stories {
    font-size: 14px;
    font-family: verdana;
    line-height: 1.6em;
}
content {
    display: table;
    width: 1200px;
    margin: 0 auto;
}
.submit-review-to-teacher {
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 120%;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.49);
    transition: top .3s;
    overflow: auto;
}
.open-submit-review-to-teacher>.submit-review-to-teacher {
    top: 0;
}
.open-submit-review-to-teacher {
    overflow: hidden;
}
.panel-submit-review-to-teacher {
    width: 700px;
    background-color: white;
    margin: 9% auto;
    position: relative;
    border-radius: 2px;
    display: table;
}
.button-close-panel {
    position: absolute;
    right: 10px;
    top: 10px;
    border: 2px solid #3c3c3c;
    border-radius: 1px;
    user-select: none;
    width: 9px;
    height: 9px;
    padding: 7px;
    cursor: pointer;
    transition: background-color .3s;
}
.button-close-panel>div {
    background-image: url(/assets/close.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transition: background-color .3s;
}
.button-close-panel:hover {
    background: #3c3c3c;
}
.button-close-panel:hover>div {
    background-image: url(/assets/close-white.svg);
}
.button-to-send {
    padding: 9px 30px;
    border: 0;
    font-size: 20px;
    box-shadow: 0 1px 1px 0px rgba(0,0,0,0.5);
    border-radius: 1px;
    float: right;
    transition: background-color .3s;
    cursor: pointer;
    font-family: MProCond;
    user-select: none;
    background-color: #3f92d2;
    color: white;
    margin: 33px;
}
.button-to-send:hover {
    background-color: #3270a0;
}
.slider {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    transition: top .6s;
    user-select: none;
}
.slider>img {
    width: 100%;
    filter: blur(3px);
}
.panel-submit-review-to-teacher>input, .history-teacher {
    font-size: 14px;
    font-family: verdana;
    line-height: 1.6em;
}
@media (max-width: 1300px) {
    .block-stories, content, header {
        width: 100%;
    }
    .logo {
        margin-left: 10px;
    }
    .right-head-text {
        margin-right: 10px;
    }
    .filtration-block-stories {
        margin: 0 10px 20px 10px;
    }
}
@media (max-width: 910px) {
    footer {
        height: auto;
    }
    .min-obr {
        height: 70px;
        margin: 50px auto;
        float: none;
    }
}


.one-block-stories {
    visibility: hidden;
    position: absolute;
}
@media (max-width: 800px) {
    .one-block-stories {
        visibility: visible;
        position: static;
    }
    .two-blocks-stories {
        visibility: hidden;
        position: absolute;
    }
    header {
        margin: 30px auto 0;
    }
    .logo {
        display: table;
        float: none;
        margin: 0 auto 30px;
    }
    .right-head-text {
        float: none;
        width: 80%;
        margin: 0 auto;
    }
    .column-items-block-stories {
        width: 100%;
    }
    .title-thank-you {
        margin: 56px 50px 20px;
    }
    .top-head-text {
        text-align: center;
    }
    .title-block-stories {
        margin-top: 40px;
    }
    .counter {
        background: transparent;
        color: white;
        margin: 20px 0 25px;
        font-size: 20px;
        position: relative;
        height: auto;
    }
    .text-counter {
        margin: 0;
    }
    .bottom-head-text {
        padding: 15px 10px;
        border-radius: 2px;
        box-shadow: 0 1px 1px 0px rgba(0,0,0,0.2);
    }
    .panel-submit-review-to-teacher {
        width: 100%;
        height: 100%;
        background-color: white;
        position: relative;
        border-radius: 0;
        overflow: auto;
        margin: 0;
    }
    .button-to-send {
        margin: 30px;
        position: static;
    }
}

/*upload file*/
.drop-zone {
    cursor: pointer;
    user-select: none;
    color: #555;
    font-size: 18px;
    width: 400px;
    padding: 50px 0;
    margin: 20px auto;
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
    text-align: center;
}
.drop-zone.hover {
    background: #ddd;
    border-color: #aaa;
}
.drop-zone.error {
    background: #faa;
    border-color: #f00;
}
.drop-zone.drop {
    background: #afa;
    border-color: #00a1ff;
}
.drop-zone.drop > .title {
    display: none;
}
.preview-container canvas {
    width: 150px;
}
.file-uploader-progress-bar {
    margin: 0 20px;
}
.file-uploader-progress-bar > * {
    background-color: #71a5f3;
    width: 0;
    height: 5px;
    border-radius: 5px;
}
.wrapper.uploading .progress {
    background-color: #8c8c8c;
}
