body {
    margin: 0;
    background: rgba(0, 0, 0, 0.44);
    font-family: Myriad Pro;
}
a {
    text-decoration: none;
}
div.post-thenks {
    opacity: 1;
    top: 0;
}
.link-repost-post > table, .link-repost-post > iframe {
    float: right;
    margin-left: 5px;
}
a.button-to-main {
    position: absolute;
    right: 10px;
    top: 10px;
    border: 2px solid #3c3c3c;
    border-radius: 1px;
    user-select: none;
    padding: 1px 7px;
    cursor: pointer;
    transition: .3s;
    font-size: 12px;
    color: #3c3c3c;
    margin: 0;
}
.button-to-main:hover {
    background: #3c3c3c;
    color: white;
}

.logo {
    float: left;
    user-select: none;
}
.right-head-text {
    width: 60%;
    float: right;
    user-select: none;
    cursor: pointer;
}
.top-head-text {
    font-size: 22px;
    color: white;
    text-align: right;
    font-family: MProCond;
    margin-bottom: 20px;
}
.bottom-head-text {
    text-align: center;
    background: white;
    font-weight: bold;
    padding: 15px 0;
}
header {
    display: table;
    position: relative;
    z-index: 2;
    width: 1200px;
    margin: 50px auto 0;
}
.button-thank-you {
    font-family: MProCond;
    padding: 15px 45px 14px 45px;
    font-size: 18px;
    margin: 0 auto;
    display: table;
    background-color: #3f92d2;
    color: white;
    border-radius: 2px;
    transition: background-color .3s;
    cursor: pointer;
    user-select: none;
    position: relative;
    z-index: 3;
}
.button-thank-you:hover {
    background-color: #3270a0;
}
.title-thank-you {
    font-size: 22px;
    color: white;
    text-align: center;
    font-family: MProCond;
    margin: 130px 0 30px 0;
    position: relative;
    z-index: 3;
    user-select: none;
    cursor: default;
}
.block-stories {
    position: relative;
    z-index: 3;
    width: 1200px;
    margin: 0 auto;
}
.title-block-stories {
    color: white;
    text-align: center;
    font-size: 36px;
    font-family: MProCond;
    margin-top: 90px;
    font-weight: 400;
    user-select: none;
    cursor: default;
}
.column-items-block-stories {
    width: 50%;
    float: left;
}
.item-block-stories {
    background-color: white;
    margin: 0 10px 20px 10px;
    padding: 25px 25px 35px 25px;
    border-radius: 2px;
    /*cursor: pointer;*/
    box-shadow: 0 1px 1px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}
.text-counter>span{
    text-weight: 600;
}
.text-counter {
    margin: 21.5px;
}

.from-whom-block-stories {
    margin-bottom: 20px;
    font-size: 14px;
    font-style: italic;
}
.teacher-block-stories {
    margin-right: 10px;
}
.school-block-stories {
    color: #b3b3b3;
}
.to-whom-block-stories {
    font-size: 14px;
    margin-bottom: 10px;
}
.text-block-stories {
    font-size: 14px;
    font-family: verdana;
    line-height: 1.6em;
}
content {
    display: table;
    width: 1200px;
    margin: 0 auto;
}
.submit-review-to-teacher {
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 120%;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.49);
    transition: .3s;
    overflow: auto;
    opacity: 0;
}
.open-submit-review-to-teacher>.submit-review-to-teacher, .open-post>.post {
    top: 0;
    opacity: 1;
}
.open-submit-review-to-teacher, .open-post {
    overflow: hidden;
}
.panel-submit-review-to-teacher {
    width: 700px;
    background-color: white;
    margin: 9% auto;
    position: relative;
    border-radius: 2px;
    display: table;
}
.button-close-panel {
    position: absolute;
    right: 10px;
    top: 10px;
    border: 2px solid #3c3c3c;
    border-radius: 1px;
    user-select: none;
    width: 9px;
    height: 9px;
    padding: 7px;
    cursor: pointer;
    transition: background-color .3s;
}
.button-close-panel>div {
    background-image: url(/assets/close.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transition: background-color .3s;
}
.button-close-panel:hover {
    background: #3c3c3c;
}
.button-close-panel:hover>div {
    background-image: url(/assets/close-white.svg);
}
.button-to-send {
    padding: 9px 30px;
    border: 0;
    font-size: 20px;
    box-shadow: 0 1px 1px 0px rgba(0,0,0,0.5);
    border-radius: 1px;
    float: right;
    transition: background-color .3s;
    cursor: pointer;
    font-family: MProCond;
    user-select: none;
    background-color: #3f92d2;
    color: white;
    margin: 33px;
}
.button-to-send:hover {
    background-color: #3270a0;
}
.background-home {
    background-color: rgba(0, 0, 0, 0.45);
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
}
.slider {
    position: fixed;
    width: 100%;
    z-index: -2;
    top: 0;
    transition: top .6s;
    user-select: none;
}
.slider>img {
    width: 100%;
    filter: blur(3px);
}
.panel-submit-review-to-teacher>input, .history-teacher {
    font-size: 14px;
    font-family: verdana;
    line-height: 1.6em;
}
.panel-post > * {
    margin: 0 30px;
}
@media (max-width: 1300px) {
    .block-stories, content, header {
        width: 100%;
    }
    .logo {
        margin-left: 10px;
    }
    .right-head-text {
        margin-right: 10px;
    }
    .filtration-block-stories {
        margin: 0 10px 20px 10px;
    }
}
@media (max-width: 910px) {
    footer {
        height: auto;
        padding-top: 20px;
    }
    .min-obr {
        height: 70px;
        margin: 50px auto;
        float: none;
    }
}


.one-block-stories {
    display: none;
}
@media (max-width: 800px) {
    .one-block-stories {
        display: block;
    }
    .two-blocks-stories {
        display: none;
    }
    header {
        margin: 30px auto 0;
    }
    .logo {
        display: table;
        float: none;
        margin: 0 auto 30px;
    }
    .right-head-text {
        float: none;
        width: 80%;
        margin: 0 auto;
    }
    .column-items-block-stories {
        width: 100%;
    }
    .title-thank-you {
        margin: 56px 50px 20px;
    }
    .top-head-text {
        text-align: center;
    }
    .title-block-stories {
        margin-top: 40px;
    }
    .counter {
        background: transparent;
        color: white;
        margin: 20px 0 25px;
        font-size: 20px;
        position: relative;
        height: auto;
    }
    .text-counter {
        margin: 0;
    }
    .bottom-head-text {
        padding: 15px 10px;
        border-radius: 2px;
        box-shadow: 0 1px 1px 0px rgba(0,0,0,0.2);
    }
    .panel-submit-review-to-teacher {
        width: 100%;
        height: 100%;
        background-color: white;
        position: relative;
        border-radius: 0;
        overflow: auto;
        margin: 0;
    }
    .button-to-send {
        margin: 30px;
        position: static;
    }
    div.panel-post {
        width: 90%;
    }
}

/*upload file*/
.drop-zone {
    cursor: pointer;
    user-select: none;
    color: #555;
    font-size: 18px;
    width: 400px;
    padding: 50px 0;
    margin: 20px auto;
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
    text-align: center;
}
.drop-zone.hover {
    background: #ddd;
    border-color: #aaa;
}
.drop-zone.error {
    background: #faa;
    border-color: #f00;
}
.drop-zone.drop {
    background: #afa;
    border-color: #00a1ff;
}
.drop-zone.drop > .title {
    display: none;
}
.preview-container canvas {
    width: 150px;
}
.file-uploader-progress-bar {
    margin: 0 20px;
}
.file-uploader-progress-bar > * {
    background-color: #71a5f3;
    width: 0;
    height: 5px;
    border-radius: 5px;
}
.wrapper.uploading .progress {
    background-color: #8c8c8c;
}

.thanks-images{
    text-align: center;
}
.thanks-images > *{
    max-width: 200px;
    max-height: 200px;
}



/* страница поста */
.post {
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 120%;
    left: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.49);
    transition: .3s;
    overflow: auto;
    opacity: 0;
}
.panel-post {
    width: 700px;
    background-color: white;
    margin: 9% auto;
    position: relative;
    border-radius: 2px;
    display: table;
    padding: 30px 0 10px 0;
    font-size: 14px;
    font-family: verdana;
    line-height: 1.6em;
    box-shadow: 0 1px 1px 0px rgba(0,0,0,0.2);
}
.teacher-name-post, .school-name-post {
    float: left;
}
.school-name-post {
    color: #b3b3b3;
    margin-left: 5px;
}
.name-peaple-post {
    margin-bottom: 20px;
    font-style: italic;
    float: left;
    width: 100%;
}
.to-whom-block-stories-post {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.img-post {
    width: inherit;
}
.img-post>img {
    width: 100%;
}
.img-post>img {
    margin-top: 20px;
}
.words-container-post {
    margin-bottom: 10px;
    line-height: 2em;
    font-size: 15px;
}
.button-close-panel {
    position: absolute;
    right: 10px;
    top: 10px;
    border: 2px solid #3c3c3c;
    border-radius: 50%;
    user-select: none;
    width: 9px;
    height: 9px;
    padding: 7px;
    cursor: pointer;
    transition: background-color .3s;
    margin: 0;
}
.button-close-panel>div {
    background-image: url(close.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transition: background-color .3s;
}
.button-close-panel:hover {
    background: #3c3c3c;
}
.button-close-panel:hover>div {
    background-image: url(close-white.svg);
}
.title-repost-post {
    float: left;
    font-size: 12px;
    margin-top: 4px;
    cursor: default;
    user-select: none;
}
.link-repost-post {
    float: right;
}
.repost-post {
    border: 1px solid #dbdbdb;
    border-width: 1px 0 0 0;
    display: table;
    padding-top: 10px;
    width: inherit;
}
.moder {
    text-align: center;
    margin: 20px 100px 40px 100px;
    font-size: 12px;
}

.thanks-images>* {
    margin: 10px;
}
.drop-zone {
    transition: .3s;
}
.drop-zone:hover {
    background-color: rgba(0, 135, 247, 0.15);
}
/* страница поста */


.right-footer {
    float: right;
}
.filtration-block-stories {
    overflow: hidden;
}
.left-footer {
    float: left;
}
.link-osn>* {
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 10px;
    margin-right: 8px;
    cursor: pointer;
    transition: .3s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.our-social-networks {
    display: table;
    margin-top: 40px;
}
.link-osn {
    display: table;
    margin-top: 10px;
}
.link-osn>*:hover {
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.6);
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.vk-link-osn {
    background-image: url(vk.png);
}
.face-link-osn {
    background-image: url(facebook.png);
}
.twit-link-osn {
    background-image: url(twitter.png);
}
.rsstud {
    height: 60px;
    margin: 0;
    float: right;
    margin-top: 50px;
}
.rsstud>img {
    height: 100%;
}
.title-osn {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

@media (max-width: 1300px) {
    .references {
        width: 100%;
    }
    .right-footer {
        margin-right: 20px;
    }
    .left-footer {
        margin-left: 20px;
    }
    footer {
        padding-bottom: 20px;
    }
}