<%
left_size = 0
right_size = 0
%>
<div class="column-items-block-stories">
  <%@thanks.each do |thank|
    if left_size <= right_size
      %><%=render 'thanks/one', thank: thank%><%
      left_size += thank.body.size
    else
      right_size += thank.body.size
    end
  end%>
</div>
