<div class="item-block-stories">
  <div class="filling-item-block-stories">
    <div class="to-whom-block-stories"><span class="teacher-block-stories"></span><span class="school-block-stories"><%=thank.school_name%></span></div>
    <div class="from-whom-block-stories">от (<%=thank.id%>) <%=thank.visitor_name%></div>
    
    <div class="text-block-stories"><%=thank.body%></div>
  </div>
</div>
